body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: radial-gradient(rgb(247, 159, 207), rgb(211, 142, 243));
}

.wrapper{
    width: 605px;
    background: white;
    border-radius: 15px;
    padding: 30px 3px 25px;
}

.wrapper header{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content{
    margin: 35px 0;
}

.content .quote-area{
    display: flex;
    justify-content: center;
}
.quote-area i{
    font-size: 15px;
}

.quote-area i:first-child{
    margin: 3px 10px 0 0;
}

.quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px;
}

.quote-area .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-all;
}

.content .author{
    display: flex;
    margin-top: 25px;
    font-size: 18px;
    font-style: italic;
    justify-content: flex-end;
}

.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.wrapper .buttons{
    border-top: 1px solid #ccc;
}

.buttons .features{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.features ul{
    display: flex;
}

.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    color:rgb(211, 142, 243);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgb(211, 142, 243);
}

.features ul li:hover{
    color: antiquewhite;
    background: rgb(211, 142, 243);
}

.features button{
        border: none;
        outline: none;
        color: antiquewhite;
        cursor: pointer;
        font-style: 16px;
        padding: 13px 22px;
        border-radius: 30px;
        background: rgb(211, 142, 243);
}

button.loading{
    opacity: 0.7;
    pointer-events: none;
}